<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Practice Suite">
    <listeners>
        <listener class-name="org.epam.testng.Listeners.CustomTestListener"/>
    </listeners>
    <test name="Framework Tests" parallel="methods" thread-count="2" verbose="1">
        <classes>
            <class name="org.epam.testng.Test.LoginTest"/>
            <class name="org.epam.testng.Test.RegistrationTest"/>
        </classes>
    </test>
</suite>
